<!-- Top-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">

    <span class="dasboard-text">Highscore</span>
  </a>
</nav>

<!-- Sidebar-->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" >
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/highscore" >
              <i class="fas fa-user"></i>Highscore
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- Main  -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <!--<tbody>-->
        <!--<tr>-->
          <!--<div>-->
            <!--<P>PlayerID: test, score:10</P>-->
            <!--<P>PlayerID: Mzn08P68YyT4ecysSjWg1sgBVcP2, score:1</P>-->
            <!--<P>PlayerID: PM3ZVK5wPafXyZAoPBxOuhupJXa2, score:1</P>-->
            <!--<P>PlayerID: 8VnKMNuZqwWhacIvrWm5ZJs92Dy2, score:0</P>-->
          <!--</div>-->
        <!--</tr>-->
        <!--</tbody>-->

        <tbody *ngIf="scorelist != null">
        <tr *ngFor="let PlayerScore of scorelist">
          <div class="col-sm-70" flex style="height: 20px;margin-bottom: 5px;">PlayerId:
            {{ PlayerScore.playerId}},  Score: {{PlayerScore.score}}
          </div>

        </tr>

        </tbody>

          <li class="nav-item">
            <button class="btn btn-primary" (click)="getScore()" style="height: 40px"> Refresh</button>
          </li>



      </div>
    </main>

  </div>
</div>
