<!-- Top-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">

    <span class="dasboard-text">Game</span>
  </a>
</nav>

<!-- Sidebar-->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" >
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/highscore" >
              <i class="fas fa-user"></i>Highscore
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- Main  -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <li class="nav-item">
          <button class="btn btn-primary" (click)="JoinQueue()" style="height: 40px"> Play Game</button>
        </li>


      </div>
    </main>

  </div>
</div>
